# Lambda Function Configuration
lambda_name     = "sqs-ts-lambda"
lambda_zip_path = "../dist.zip"

# SQS Queue Configuration
queue_name = "demo-queue"

# IAM Role Configuration
role_name = "lambda-exec-role"

# S3 Bucket Configuration
s3_bucket_name = "demo-image-bucket"

lambda_environment = {
  NODE_ENV              = "production"
  LOG_LEVEL             = "info"
  APP_ENV               = "prod"
  S3_BUCKET_NAME        = "demo-image-bucket"
  S3_REGION             = "us-east-1"
  S3_BASE_URL           = "http://localhost:4566"
}

# MongoDB Configuration
mongodb_uri = "mongodb://mongodb:27017/ListifyDatabase"
database_name = "ListifyDatabase"

# Google API Key
google_api_key = "YOUR_GOOGLE_API_KEY"

# AWS Configuration
aws_access_key_id = "test"
aws_secret_access_key = "test"
aws_endpoint_url = "http://localstack:4566"